.map {
    position: relative;
}
.map-nav-header {
    width: 100%;
    height: 4.6rem;
}
.map-nav .van-icon-arrow-left {
    color: #000;
}
.map-room {
    width: 100%;
    height: calc(100% - 4.6rem);
}
.map-label-con p {
    margin: 0;
}
.map-label-con {
    width: 7rem;
    height: 7rem;
    line-height: 1;
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    background-color: rgba(12, 181, 106, 0.9);
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.8);
    text-align: center;
    cursor: pointer;
}
.map-label-name {
    padding: 2.4rem 0 .6rem 0;
}
.map-label-rect-con {
    height: 2rem;
    line-height: 2rem;
    width: 10rem;
    padding: 0 0 0 .2rem;
    position: absolute;
    border-radius: .3rem;
    background-color: rgba(12, 181, 106, 0.9);
    cursor: pointer;
    white-space: nowrap;
}
.map-label-rect-name {
    display: inline-block;
    width: 6.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: center;
}
.map-label-rect-number {
    display: inline-block;
    width: 2.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: center;
}
.map-label-rect-arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border: .4rem solid transparent;
}
.map-house-list-room {
    width: 100%;
    height: 40rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 10;
}
.map-house-list-header-room {
    width: 100%;
    height: 4rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1rem;
    color: #000;
    font-weight: bold;
}
.map-house-list-house-room {
    width: 100%;
    height: calc(100% - 4rem);
    overflow-x: hidden;
    overflow-y: scroll;
}
.map-house-list-house-room::-webkit-scrollbar {
    display: none;
}