.rent-info-swiper-room {
    width: 100%;
    height: 30rem;
    background-color: transparent;
    position: relative;
}
.house-info-title {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
}
.house-info-tag-room {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.house-info-tag {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background-color: rgba(18, 150, 219, 0.4);
    color: #ffffff;
}
.house-info-home-common-room {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.house-info-home-common {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.house-info-home-common > div:nth-child(1) {
    font-size: 1.5rem;
    color: #DE7E64;
    font-weight: bold;
}
.house-info-home-common > div:nth-child(1) span {
    color: #DE7E64;
    font-size: 1.2rem;
}
.house-info-home-common > div:nth-child(2) {
    margin-top: 0.5rem;
}
.house-info-other-info {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.house-info-other-info-item {
    width: 50%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.house-info-other-info-item > span:nth-child(1) {
    display: inline-block;
    font-size: 1.3rem;
}
.house-info-other-info-item > span:nth-child(2) {
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    margin-left: 1rem;
}
.house-info-split-room {
    width: 100%;
    height: 1rem;
    background-color: #f5f5f5;
}
.house-info-map {
    width: 100%;
    height: 100%;
}
.house-map-arrow {
    background: url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png)
    no-repeat;
    position: absolute;
    width: 11px;
    height: 10px;
    top: 24px;
    left: 10px;
    overflow: hidden;
}
.rent-info-house-owner {
    width: 100%;
    height: 100%;
}
.rent-info-house-owner-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    padding: 0 1rem;
}
.rent-info-house-owner-left {
    display: flex;
    flex-direction: row;
    height: 5rem;
}
.rent-info-house-owner-auth-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
}
.rent-info-house-owner-auth {
    color: #DE7E64;
}
.header-detail-origin-own-avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    object-fit: cover;
}
.rent-info-house-owner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
}
.rent-info-house-desc-room {
    width: 100%;
    height: calc(100% - 6rem);
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
.rent-info-house-desc-room::-webkit-scrollbar {
    display: none;
}
.rent-info-operate-room {
    width: 100%;
    height: 6rem;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-top: 1px solid #dbdbdb;
    box-sizing: border-box;
}
.rent-info-operate-room > div {
    width: calc(100% / 3);
    height: 100%;
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    user-select: none;
}
.rent-info-operate-room > div:last-child {
    border-right: none;
    background-color: #21b97a;
    color: #ffffff;
}
.house-info-item-collect-star {
    width: 2rem;
    height: 2rem;
    margin-bottom: .4rem;
    margin-right: 1rem;
}