.home-rent-group-com {
    width: 100%;
    height: 100%;
}
.home-rent-group-title {
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: #666;
}
.home-rent-group-title > span:nth-child(1) {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .1rem;
}
.home-rent-group-room {
    width: 100%;
    height: calc(100% - 3rem);
}
.home-item-rent-group {
    height: 6.6rem;
}
.home-item-rent-group > div {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.home-item-rent-group-left {
    display: flex;
    flex-direction: column;
}
.home-item-rent-group-left > span {
    display: block;
}
.home-item-rent-group-left > span:nth-child(1) {
    font-size: 1.4rem;
    color: #000;
    font-weight: bold;
    margin-bottom: .5rem;
}
.home-item-rent-group-right {
    width: 5rem;
    height: 100%;
    text-align: center;
    line-height: 5rem;
}
.home-item-rent-group-right img {
    width: 5rem;
    height: 5rem;
}