.common-header {
    width: 100%;
    height: 4rem;
    position: absolute;
    top: 3rem;
    z-index: 2;
    box-sizing: border-box;
    padding: 0 2rem;
}
.common-header-room {
    width: 100%;
    height: 100%;
    display: flex;
}
.common-header-left-room {
    width: calc(100% - 5rem);
    height: 100%;
    display: flex;
    background-color: #fff;
    white-space: nowrap;
    border-radius: .6rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.common-header-locate {
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.common-header-right-room {
    width: 5rem;
    height: 100%;
    text-align: center;
    line-height: 4rem;
    color: #ffffff;
}
.common-header-input {
    width: calc(100% - 8rem);
    height: 100%;
    line-height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ccc;
    font-size: 1.4rem;
}
.common-header-input span {
    display: inline-block;
    margin-left: 1rem;
}
.common-line {
    width: 1px;
    height: 1.8rem;
    background-color: #cccc;
}