.city-index {
    position: fixed;
    width: 3rem;
    height: 60rem;
    right: .5rem;
    top: calc((100% - 60rem) / 2);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.city-item-index {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 100%;
}