.profile-nav {
    margin-top: 12rem;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
}
.profile-item-nav {
    width: 12rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}