.filter-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.filter-title-item-room {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter-title-item-room span {
    font-size: 1.3rem;
    display: inline-block;
    margin-right: .2rem;
}
.filter-title-select-item-room {
    color: #21b97a;
}